html,
body,
#root {
  width: 100%;
  height: 100%;
}

.official-page {
  // position: relative;
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

.mobile-page {
  // position: absolute;
  // top: 0;
  // left: 0;
  // bottom: 0;
  background-color: rgba(193, 50, 61, 1);
  width: 100%;
  height: 100%;
  // overflow: hidden;
  img {
    width: 100%;
  }

  // background: url('http://pzpsn4agr.bkt.clouddn.com/%E6%89%8B%E6%9C%BA%E5%AE%98%E7%BD%91@3x.png') center no-repeat;
  // background-size: 100% 100%;
}

@media screen and (min-height: 750px) {
  .mobile-page {
    // background: url('http://pzpsn4agr.bkt.clouddn.com/%E6%89%8B%E6%9C%BA%E7%89%88@XMAX.png') center no-repeat;
    // background-size: 100% 100%;
  }
}

.index-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-section {
  width: 100%;
  height: 100%;

  .video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.content-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  // background-color: black;

  .head-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;

    .music-icon {
      width: 18px;
      height: 15px;
      margin-right: 23px;
      cursor: pointer;
    }

    .introduce {
      margin-right: 119px;
      font-size: 18px;
      // font-weight: bold;
      color: rgba(255, 255, 255, 1);
      text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      text-decoration: none;
    }
  }

  .info-section {
    margin-top: 10%;
    margin-left: 10%;

    .info-title {
      font-size: 50px;
      font-family: PingFang SC;
      font-weight: 500;
      margin-bottom: 10px;
      color: rgba(255, 255, 255, 1);
      text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
    }

    .icon-section {
      margin-top: 26px;
      display: flex;
      // align-items: center;

      .app-icon-section {
        display: flex;
        flex-direction: column;

        .app-tip {
          width: 160px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 40px;
          margin-top: 10px;
        }

        .app-tip-line {
          width: 40px;
          height: 1px;
          background: linear-gradient(270deg, rgba(193, 50, 61, 0) 0%, rgba(230, 230, 230, 1) 100%);
          margin-top: 2px;
          &.left {
            transform: rotate(180deg);
          }
        }

        .app-tip-txt {
          font-size: 12px;
          font-family: PingFang SC;
          font-weight: 500;
          color: rgba(255, 255, 255, 1);
          opacity: 0.6;
          margin: 0 4px;
        }
      }

      .app-icon {
        width: 160px;
        height: 160px;
        background: rgba(255, 255, 255, 1);
        padding: 10px;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-right: 40px;
      }

      .app-type {
        width: 160px;
        height: 160px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .type {
          // width: 200px;
          // height: 46px;
          // background: rgba(255, 255, 255, 1);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.1);
          border-radius: 22px 23px 23px 22px;

          width: 160px;
          height: 40px;
          line-height: 40px;
          // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
          // border-radius: 13px;
          text-align: center;
          font-size: 18px;
          font-weight: 500;
          background: rgba(255, 255, 255, 0.3);
          color: #ffffff;
          cursor: pointer;

          &.active,
          &:hover {
            background: rgba(255, 255, 255, 1);
            color: rgba(194, 50, 60, 1);
          }
        }
      }
    }
  }

  .copyright-section {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    font-family: PingFang SC;
    width: 100%;
    background: transparent;
    text-align: center;
    position: absolute;
    bottom: 16px;

    .app-desc {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 16px;

      .line {
        width: 2px;
        height: 10px;
        background: rgba(255, 255, 255, 1);
        margin: 0 6px;
      }
    }
  }
}